html {
    margin: 0;
    padding: 0;
    height: 100% !important;
}
body{
    padding-top: 65px;
}
.navbar {
    background: #009688;
    border-radius: 0;
    margin: 0!important;
    padding: 0 20px;
    z-index: 999;
}
.navbar-default .navbar-toggle .icon-bar {background-color: white;}
.navbar-brand, .navbar-nav>li>a {
    color: #ffffff !important;
}
main {
}
.rightBar {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    height: 100% !important;
    min-height: 100px;
    padding: 20px 15px;
    position: fixed;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media (max-width:992px){
    .rightBar {
        width:100%;
        position: inherit;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}
.rightBar form {
    width:  100%;
}
.rightBar input {
    margin: 10px 0 20px 0;
}
.mainDiv{
    margin: 15px 0;
}
#map {
    height: 350px;
    width: 100%;
    margin-bottom: 100px;
}
.navbar-nav a:hover {
    color: #BDBDBD !important;
}
.navbar-nav a.activeNav {
    color: #E0E0E0 !important;
    font-weight: bold;
}